[submodule "themes/yue"]
	path = themes/yue
	url = https://github.com/CyrusYip/hugo-theme-yue
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke